{% extends "layout/index.html" %}
{% load static %}

{% block title %} MotoMarket {% endblock %}
{% block content %}
    <style>
        body {
            background: url(https://sun9-18.userapi.com/impg/2dYkVxROlePD8PX1zzo_e2JRswyXrQEgPWs10A/Vf_mt4wjLDQ.jpg?size=1492x732&quality=96&sign=cac8c916a25c84fbd43865fae5397303&type=album);
            background-attachment: fixed;
        }
    </style>

    <h1 align="center"> {{ message }} </h1>
    <ul>
        {% for item in bikes_list %}
            <li><img src="{{ item.image }}" width="300" height="150" alt="image"> {{ item }} | <a
                    href="{% url 'moto_detail' moto_type=item.modelname pk=item.id %}">Подробнее</a></li>
        {% endfor %}
    </ul>

{% endblock %}