{% extends "layout/index.html" %}
{% load static %}

{% block title %} MotoMarket {% endblock %}
{% block content %}
    <style>
        body {
            background: url(https://images.wallpaperscraft.com/image/road_mountains_marking_route_115813_1366x768.jpg);
        }
    </style>

    <h1 align="center"> {{ message }} </h1>
    <ul>
        {% for item in bikes_list %}
            <li><img src="{{ item.image }}" width="300" height="150" alt="image"> {{ item }} | <a
                    href="{% url 'moto_detail' moto_type=item.modelname pk=item.id %}">Подробнее</a></li>
        {% endfor %}
    </ul>

{% endblock %}